@use '@angular/material' as mat;

@include mat.core();

$bofa-navy: (
  50: #e3e8f0,
  100: #b9c5da,
  200: #8b9fc2,
  300: #5c79a9,
  400: #395c96,
  500: #012169,
  600: #011d5f,
  700: #011852,
  800: #011446,
  900: #000c30,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$bofa-red: (
  50: #fde8ec,
  100: #f9c5cf,
  200: #f49faf,
  300: #ef798f,
  400: #eb5c76,
  500: #e31837,
  600: #c91430,
  700: #a81028,
  800: #870c20,
  900: #650818,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$primary: mat.define-palette($bofa-navy, 500);
$accent: mat.define-palette($bofa-red, 500);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($theme);
